<div class="jumbo">
  <div class="right tomster"></div>
  {{yield}}
  {{! This is where the content of the template will be rendered - so this is wrapper and in the yield field we will have child component}}
</div>