<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you are looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
  {{! LinkTo is Ember component used instead of <a></a> which avoids waiting for the server and full page refreshes. But under the hood it generates }}
  {{! The @route argument is used to specify the route that the link should transition to - it should be the name of the route (route handler name) }}
  {{! when we have @route, that is Ember specific **argument**, while class is attribute from HTML (so without @) }}
</Jumbo>

<div class="rentals">
  <ul class="results">
    {{#each @model as |rental|}}
      <li><Rental @rental={{rental}} /></li>
    {{/each}}
  </ul>
</div>